# Kernel source (huge)
linux/
linux-7.0/

# Output
output/

# Firmware binaries
firmware/debian-rootfs.img*
firmware/MiniLoaderAll.bin
firmware/uboot.img
firmware/recovery.img
firmware/userdata.img
firmware/boot.img
firmware/misc.img

# Archives
*.tar.xz
*.tar.gz
*.tar.bz2
*.7z
*.raw
*.raw.xz
fedora-*

# Cache
cache/

# Old Debian rootfs
rootfs/

# Python
__pycache__/
*.pyc

# U-Boot
u-boot/
