# Kernel source (huge)
linux/
linux-7.0/

# Output images
output/
firmware/debian-rootfs.img
firmware/MiniLoaderAll.bin
firmware/uboot.img
firmware/recovery.img
firmware/userdata.img
firmware/boot.img

# Downloaded archives
*.tar.xz
*.7z
*.raw
*.raw.xz
fedora-*

# Cache
cache/

# Temp
/tmp/

# Kernel module cache
linux/kmod-install/
# Old Debian rootfs
rootfs/
7.0-modules.tar.gz

# Misc large
*.img

# Python cache
__pycache__/
*.pyc

# Archives
*.tar.gz
*.tar.bz2
*.tar.xz

# Firmware subdir images (keep .its, .txt, misc.img)
firmware/debian-rootfs.img*
firmware/MiniLoaderAll.bin
firmware/uboot.img
firmware/recovery.img
firmware/userdata.img
firmware/boot.img

# U-Boot build
u-boot/
